---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import Logo from '@/components/Logo.astro';
import { Toaster } from "@/components/ui/toaster"
import { MedicalFormComponent } from '@/components/medical-form';
---

<Layout title="MermAid.">
	<main class="justify-center">
		<Logo/>
		<MedicalFormComponent client:load/>
		<Toaster client:load/>
	</main>
</Layout>
