<div class="logo"></div>

<style>
	.logo{
		font-size: 2rem;
        background: url("/MermAid.svg") no-repeat center;
        background-size: contain;
        min-width: 2rem;
        min-height: 2rem;
        width: 100%; /* Ajusta el tamaño según necesites */
        height: 100px;
	}
</style>
